<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-6 col-md-12">
              <div class="card">
                <div class="card-header card-header-warning">
                    <h2 class="card-title">Map</h2>
                </div>
                  <div class="card-body">
                      <div class="tab-content">
                          <div class="tab-pane active" id="profile">
                                <span>
                                    <img src="../../assets/img/map.jpg" style="width: 550px; height: 400px;"/>
                                </span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h2 class="card-title">Data</h2>
                  </div>
                  <div class="card-body table-responsive">
                      <h3>Dallas (Tx)</h3>
                      <hr />
                      <table>
                            <tr>
                                <th>AQU</th>
                                <td>135</td>
                                
                            </tr>
                            <tr>
                                <th>O<sub>3</sub></th>
                                <td>44</td>
                            </tr>
                            <tr>
                                <th>PM<sub>2.5</sub></th>
                                <td>50</td>
                            </tr>
                            <tr>
                                <th>More Keys</th>
                                <td>More info</td>
                            </tr>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
